.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App canvas:not(.ScratchCard__Canvas) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

@media (min-width: 320px) and (max-width: 598px) {
  .App {
    display: block;
  }
}

@media (min-width: 600px) and (max-width: 991px) {
  .App {
    display: block;
  }
}